.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff_cache

artifacts
baselines
benchmark.sh
benchmark_*.txt
cache
checkpoints
data
outputs
results
slurm
torch-pids
wandb

containers/*.sif
containers/*.img
